name: Robot Circolari Argo

on:
  schedule:
    - cron: '0 8,14,20 * * *'  # 3 volte al giorno
  workflow_dispatch:

jobs:
  run-robot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout codice
      uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: pip install -r requirements_robot.txt
    
    - name: Run Robot Argo
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        ARGO_USERNAME: ${{ secrets.ARGO_USERNAME }}
        ARGO_PASSWORD: ${{ secrets.ARGO_PASSWORD }}
      run: python leggi_circolari.py
